### Implementing Univariate Linear Regression from scratch using Gradient Descent

#### STEP 1 : Creating Sample dataset and storing it in csv form

##### Creating 2 columns only as there is 1 feature and 1 target variable .feature is number of hours studied per week and target is marks obtained. Creating 100 samples.

In [27]:
# Adding imports
import random
import pandas as pd

In [2]:
# feature1
no_of_hours=[]
for i in range(100):
    n=random.randint(30,60)
    no_of_hours.append(n)

In [8]:
print(no_of_hours)

[37, 60, 48, 37, 31, 53, 43, 51, 43, 52, 32, 36, 36, 47, 37, 42, 35, 49, 41, 46, 51, 36, 32, 35, 48, 43, 59, 52, 38, 39, 56, 47, 44, 31, 36, 31, 45, 39, 43, 43, 38, 43, 57, 42, 50, 45, 40, 60, 36, 50, 40, 35, 52, 56, 42, 45, 47, 55, 51, 32, 52, 39, 33, 36, 47, 55, 48, 38, 59, 31, 39, 37, 33, 43, 33, 44, 53, 31, 43, 53, 51, 40, 57, 48, 36, 47, 52, 50, 37, 59, 35, 35, 30, 52, 40, 41, 57, 39, 35, 37]

In [9]:
#target
marks_obtained=[]
for i in range(100):
    n=random.randint(70,100)
    marks_obtained.append(n)

In [10]:
print(marks_obtained)

[97, 96, 86, 92, 84, 70, 83, 99, 70, 75, 81, 98, 83, 98, 86, 99, 89, 71, 82, 79, 89, 78, 93, 100, 84, 76, 96, 93, 92, 94, 88, 85, 97, 80, 71, 75, 83, 85, 78, 87, 83, 93, 75, 93, 70, 75, 74, 72, 95, 94, 71, 89, 85, 83, 96, 85, 88, 96, 84, 82, 100, 81, 74, 84, 74, 92, 95, 86, 76, 87, 92, 85, 95, 92, 86, 97, 83, 90, 71, 74, 82, 83, 94, 86, 71, 89, 87, 97, 82, 73, 74, 71, 90, 75, 72, 71, 94, 73, 84, 94]

In [12]:
df=pd.DataFrame(list(zip(no_of_hours,marks_obtained)),columns=['no_of_hours','marks_obtained'])

In [13]:
df.head()

   no_of_hours  marks_obtained
0           37              97
1           60              96
2           48              86
3           37              92
4           31              84

In [24]:
# Saving the created dataframe to csv for further use.
df.to_csv('student_univariate.csv',index=False)

In [28]:
df1=pd.read_csv('student_univariate.csv')

In [29]:
df1.head()

   no_of_hours  marks_obtained
0           37              97
1           60              96
2           48              86
3           37              92
4           31              84